[user]
    email = wesselbindt@gmail.com
    name = Wessel Bindt
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[color]
    ui = true
[core]
    pager = less -r
    editor = vim
	excludesFile = ~/.gitignore.global
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[include]
    path = ~/.gitconfig.local
