[user]
    email = wesselbindt@gmail.
    name = wpbindt
[pull]
    rebase = false
[color]
    ui = true
[core]
    pager = less -r
[init]
    defaultBranch = main
[include]
    path = ~/.gitconfig.local

